@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased transition-colors duration-200;
  }
  
  html.dark body {
    @apply bg-slate-900 text-slate-100;
  }
}